.realtime-chart {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.realtime-chart canvas {
  max-width: 100%;
}

.heatmap-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  color: var(--text-tertiary);
  font-size: 0.875rem;
}
